.thumbnail-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

@media (max-width: 992px) {
    .thumbnail-image {
        width: 125px;
        height: 75px;
    }
}

.fs-responsive {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .fs-responsive {
        font-size: .8rem;
    }
}

.carousel-item img {
    max-height: 500px;
    object-fit: center;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}